@use 'sass:color';
@use 'variables' as *;

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $primary;
  padding: 1rem;

  &__container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }

  &__link {
    padding: 0.5rem 1rem;
    color: $secondary;
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: color.adjust($secondary, $lightness: -10%);
    }

    &--active {
      color: $accent;
    }
  }
} 